.card{
   background: linear-gradient(100deg, rgba(49, 46, 46, 0.8) 50%, rgba(224, 191, 191, 0.9) 50%); 
    border-radius: 100px;
    margin: 30px;
    height: 400px;
    width: 200px;
    font-size: 25px; 
    color:rgb(236, 236, 236);
    text-decoration: none;
    padding: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    align-items: center;
    
}

.card:hover{
  
        
        cursor: pointer;

}
.p{
    font-size: 30px; 
    color:rgb(47, 3, 3);
    text-decoration: none;
    margin: 0px;
}

.img{
   width:200px;
  height:200px;
  border-radius: 100px;
}

.h3{
    margin: 0px;
    font-size: 30px; 
    color:rgb(47, 3, 3);
    text-decoration: none;
    
}