.home {
  background-color:
    rgba(212, 109, 109, 0.8);;
  background-size: 100vw 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.h1 {
  font-size: 50px;
  text-align: center;
  text-shadow: -4px 3px 0 #e6e7d8, -14px 7px 0 #ea0853;
}

.h2 {
  font-size: 30px;
}

.paginado {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-decoration: none;
}



.link {
  text-decoration: none;
}

.reload {
  cursor: pointer;
  font-size: 15px;
  color: #ffffff;
  text-shadow: rgb(201, 72, 72) 0px 0px 5px, rgb(208, 97, 97) 0px 0px 10px,
    #fff 0px 0px 15px, #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px,
    #ff2d95 0px 0px 40px, #ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px;
}

.select {
  background: rgb(199, 110, 110);
  font-size: 14px;
  height: 30px;
  padding: 5px;
  width: 250px;
}



.cardColumn {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  margin-left: 180px;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 50px;
    padding: 50px; */
}