.landing{
    background-image: url('https://p4.wallpaperbetter.com/wallpaper/503/189/157/pokemon-video-games-pixel-art-pixels-wallpaper-preview.jpg');
    height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.img {
    width: 100px;
    height: 100px;
}

.img:hover {
    width: 200px;
    height: 200px;
}

.h1{  font-size: 50px;
    text-align: center;
    text-shadow: -4px 3px 0 #d8d9e7, -14px 7px 0 #ea0817;}