.detail{
    background-image: url('https://img.freepik.com/vector-gratis/nota-papel-sobre-fondo-memphis_53876-99285.jpg?w=2000');
    height: 100vh;
    width: 100vw;
    background-size: 100vw 100vh;
    margin: 0px;
    display: block;
    margin-top: -35px;

background-repeat: no-repeat;
/* background-position: center center; */
background-size: cover;
background-attachment: fixed;
}

.button {
    color:rgb(15, 2, 2);
    height: 100px;
    width: 100px;
    background-color: rgba(49, 46, 46, 0.8);
    border-radius: 100px;
    border: 10px solid transparent;
    border-color:rgba(49, 46, 46, 0.8);
    font-size: 20px;
    margin: 15px;
}

.button:hover{
    cursor: pointer;
    background-color:rgba(224, 191, 191, 0.9);
   
  
}

.p{
    font-size: 30px;
    color: rgba(49, 46, 46, 0.8);
    text-decoration: none;
    margin: 0px;  
    border: 5px solid #272326;  
    width: 450px;
    border-radius: 1000px;
    margin-top: 5px;
}

.divCenter {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.img{
    height: 230px;
}

.h4{
    font-size: 30px;
    color: rgba(49, 46, 46, 0.8);
    text-decoration: none;
    
}

.h1{
    font-size: 50px;
    color: #FFFFFF;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;

}